* 
{
	box-sizing: border-box;
}

/***********************************************/
/**************** TAGS *************************/
/*********************************************/


/************* HTML *************************/

html 
{
	font-family: "Lucida Sans", sans-serif;
}

/*************** BUTTONS ******************/
button 
{
	background-color: #33b5e5; /* Blue background */
  	border: 1px solid green; /* Green border */
  	color: white; /* White text */
 	padding: 10px 24px; /* Some padding */
  	cursor: pointer; /* Pointer/hand icon */
  	display: block; /* Make the buttons appear below each other */
	width: 100%;
}

button:not(:last-child) 
{
	border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
button:hover 
{
  	background-color: #4CAF50; /* Green background */
}

/*     calendar buttons            */
.calendar-button
{
	font-size: 23px;
	width: 33%;
	float: left;
}

.calendar-event-button
{
	background: none!important;
	border: none;
  	padding: 0!important;
  	/*optional*/
  	font-family: arial, sans-serif;
  	/*input has OS specific font-family*/
  	color: #069;
  	text-decoration: underline;
  	cursor: pointer;
}

.availability-button
{
	float: left;
	width: 33%;
}

/******************** PARAGRAPHS *******************/

#calendar_month_p_html_id
{
	float: left;
	width: 33%;
	text-align: center;
}

/******************** SELECTS *******************/
select 
{
	width: 100%;
  	padding: 16px 20px;
  	border: none;
  	border-radius: 4px;
  	background-color: #33b5e5;
}

/**************** INPUTS ************************/
input
{
	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	box-sizing: border-box;
}

/**************** INPUTS ************************/
table
{
	width: 100%;
	border-collapse: collapse;
}

table, td, th 
{
	border: 1px solid black;
}

td, th 
{
	width: 14%;
}

/**************** RADIO ************************/ 


/**********************club profile****************/

.club-profile-paragraph
{
	float: left;
	width: 100%;
}

.club-profile-button
{
	float: left;
	width: 25%;
	margin-top: +10px;
}

/***********************************************/
/********************** PARTITIONS *****************/
/*********************************************/
#logged_in_header_html_id 
{
    list-style: none;
    /*width: 90%;
    height: 90px; */
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

/****************** HEADER *****************/

#logged_in_header_html_id button
{
    display: inline-block;
    width: 10%; 
    height: 100%;
}
#logged_in_header_html_id p
{
    display: inline-block;
     width: %40;
    height: 100%;
}

#logged_in_header_html_id select
{
    display: inline-block;
    width: 50%;
    height: 100%;
}

.header 
{
	background-color: #0099cc;
  	color: #ffffff;
 	padding: 15px;
}

#headerid
{
	font-size: 23px;
}

/****************** SIDENAV *****************/

.sidenav 
{
	height: 100%;
  	width: 0;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0; /* overides and puts nav at the very top left */ 
  	background-color: #ffffff;
  	overflow-x: hidden;
  	transition: 0.5s;
  	padding-top: 20px; 
  	padding-left: 10px;
}

.sidenav .closebtn 
{
  	margin-left: 10px;
	color: #33b5e5;
  	font-size: 36px;
}

.sidenav a:hover 
{
	color: #4CAF50;
}

#sidenavopenbuttonid
{
	font-size: 30px;
	cursor: pointer;
}

/************* ASIDE 3rd column **************/
.aside 
{
	background-color: #33b5e5;
  	padding: 15px;
  	color: #ffffff;
  	text-align: center;
  	font-size: 14px;
  	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/************* FOOTER **************/

.footer 
{
	background-color: #0099cc;
  	color: #ffffff;
  	text-align: center;
  	font-size: 12px;
  	padding: 15px;
}

/************* CARDS **************/

.card 
{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	width: 100%;
}

.card:hover 
{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.card-header
{
	text-align: center;
	text-decoration: underline;
  	padding: 10px;
}

/************* CONTAINERS *****************/

.container 
{
	padding: 2px 16px;
}

/***********************************************/
/********************** GAMES *****************/
/*********************************************/
canvas 
{
	border:1px solid #d3d3d3;
    	background-color: #4CAF50; 
	/*
	height: 100vh;
	overflow: hidden;
	width:100%;
	height:100%;
	*/
}


/***********************************************/
/********************** SCREENS *****************/
/*********************************************/

/********************** MOBILE SCREENS *****************/
/* For mobile phones: */
[class*="col-"] 
{
	width: 100%;
}

/********************** DESKTOP SCREENS *****************/

@media only screen and (min-width: 768px) 
{
	/* For desktop: */
  	.col-1 {width: 8.33%;}
  	.col-2 {width: 16.66%;}
  	.col-3 {width: 25%;}
  	.col-4 {width: 33.33%;}
  	.col-5 {width: 41.66%;}
  	.col-6 {width: 50%;}
  	.col-7 {width: 58.33%;}
  	.col-8 {width: 66.66%;}
  	.col-9 {width: 75%;}
  	.col-10 {width: 83.33%;}
  	.col-11 {width: 91.66%;}
  	.col-12 {width: 100%;}
}

@media screen and (max-height: 450px) 
{
	.sidenav {padding-top: 15px;}
  	.sidenav a {font-size: 18px;}
}

/****************** ROWS *****************/

.row::after 
{
	content: "";
  	clear: both;
  	display: table;
}

/****************** COLS *****************/

[class*="col-"] 
{
	float: left;
  	padding: 15px;
}

/************** MODAL **************/
/* The Modal (background) */
.modal 
{
	display: none; /* Hidden by default */
  	position: fixed; /* Stay in place */
  	z-index: 1; /* Sit on top */
  	padding-top: 100px; /* Location of the box */
  	left: 0;
  	top: 0;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */
  	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content 
{
	background-color: #fefefe;
	margin: auto;
  	padding: 20px;
  	border: 1px solid #888;
  	width: 80%;
}

/* The Close Button */
.close 
{
	color: #aaaaaa;
  	float: right;
  	font-size: 28px;
  	font-weight: bold;
}

.close:hover,
.close:focus 
{
	color: #000;
  	text-decoration: none;
  	cursor: pointer;
}

