/* GLOBAL */

/* END GLOBAL */


/* BEGIN SLIDE CODE */

/*  sidenav */
.sidenav 
{
	height: 100%;
  	width: 0;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	overflow-x: hidden;
  	transition: 0.5s;
  	padding-top: 60px;
  	background-color: white;
}

.sidenav .closebtn 
{
	position: absolute;
  	top: 0;
  	right: 25px;
  	font-size: 36px;
  	margin-left: 50px;
  	color: #87ceeb;
}

/* media */
@media screen and (max-height: 450px) 
{
	.sidenav {padding-top: 15px;}
  	.sidenav a {font-size: 18px;}
}

/* END SLIDE CODE */

 /*
  * Make buttons from links than make them sky blue background with white text
 * */
.btn 
{
	display: block;
  	padding: 8px 16px;
  	text-decoration: none;
  	color: #FFFFFF;
  	text-align: center;
  	background-color: #87ceeb;
}

.btn:hover:not(.active) 
{
	background-color: #555555;
}




