
/* nav button*/

.nav-collapsible-button
{
	background-color: #800000;
  	color: white;
  	cursor: pointer;
  	padding: 18px;
  	width: 100%;
  	border: none;
  	text-align: left;
  	outline: none;
  	font-size: 15px;
}

.nav-collapsible-button:hover 
{
	background-color: #555;
}

.nav_bar_content 
{
	padding: 0 18px;
  	overflow: hidden;
 	transition: max-height 0.2s ease-out;
  	background-color: #f1f1f1;
}

/* nav button internal*/

.nav-internal-button 
{
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
}

/* card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

/*defaults*/
.button {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type=text] 
{
	padding:5px; border:2px solid #ccc;
	-webkit-border-radius: 5px;
    	border-radius: 5px;
}
input[type=text]:focus 
{
	border-color:#333; 
}

input[type=password] 
{
	padding:5px; border:2px solid #ccc;
	-webkit-border-radius: 5px;
    	border-radius: 5px;
}
input[type=password]:focus 
{
	border-color:#333; 
}

