
html, body
{
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        font-family: 'Helvetica', 'Verdana', sans-serif;
        font-weight: 400;
        font-display: optional;
        color: #444;
}

body
{
        display: flex;
        align-content: stretch;
        background: #ececec;
	background-image: radial-gradient( cover, rgba(92,100,111,1) 0%,rgba(31,35,40,1) 100%), url('http://i.minus.com/io97fW9I0NqJq.png') 
}
/******************************
 *
 * BASIC ELEMENTS
 *
 *******************************/

H1 {
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: bold;
    color: #006600;
    letter-spacing: 1.4px;
    border-bottom: solid 1px #006600;
    text-transform: uppercase;
}

LABEL {
    font-family: Georgia, serif;
    font-size: 14px;
    font-weight: bold;
    color: #006600;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

/******************************
 *
 * HEADER
 *
 *******************************/

.header
{
        width: 100%;
        height: 56px;
        color: #FFF;
        background: #0ED15D;
        position: fixed;
        font-size: 20px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
        padding: 16px 16px 0 16px;
        will-change: transform;
        display: flex;
        transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
        z-index: 1000;
}

.headerButton
{
        width: 24px;
        height: 24px;
        margin-right: 16px;
        text-indent: -30000px;
        overflow: hidden;
        opacity: 0.54;
        transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
        border: none;
        outline: none;
        cursor: pointer;
}

.header #butRefresh
{
        background: url(/images/ic_refresh_white_24px.svg) center center no-repeat;
}

.header #butAdd
{
        background: url(/images/ic_add_white_24px.svg) center center no-repeat;
}

.header__title
{
        font-weight: 400;
        font-size: 20px;
        margin: 0;
        flex: 1;
}

/******************************
 *
 * MAIN
 *
 *******************************/

.main
{
        padding-top: 60px;
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
}

/******************************
 *
 * LOGIN
 *
 *******************************/

.login 
{
	background: #eceeee;
  	border: 1px solid #42464b;
  	border-radius: 6px;
  	height: 257px;
  	margin: 20px auto 0;
  	width: 298px;
}

input[type="password"], input[type="text"] 
{
	background: url('http://i.minus.com/ibhqW9Buanohx2.png') center left no-repeat, linear-gradient(top, #d6d7d7, #dee0e0);
 	 border: 1px solid #a1a3a3;
  	border-radius: 4px;
  	box-shadow: 0 1px #fff;
  	box-sizing: border-box;
  	color: #696969;
  	height: 39px;
  	margin: 31px 0 0 29px;
  	padding-left: 37px;
  	transition: box-shadow 0.3s;
  	width: 240px;
}

input[type="password"]:focus, input[type="text"]:focus 
{
	box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
  	outline: 0;
}

.show-password 
{
	display: block;
  	height: 16px;
  	margin: 26px 0 0 28px;
  	width: 87px;
}

.btn 
{
	width:240px;
 	height:35px;
  	display:block;
  	font-family:Arial, "Helvetica", sans-serif;
  	font-size:16px;
  	font-weight:bold;
  	color:#fff;
  	text-decoration:none;
  	text-transform:uppercase;
  	text-align:center;
  	text-shadow:1px 1px 0px #37a69b;
  	padding-top:6px;
  	margin: 29px 0 0 29px;
  	position:relative;
  	cursor:pointer;
  	border: none;
  	background-color: #37a69b;
  	background-image: linear-gradient(top,#3db0a6,#3111);
  	border-top-left-radius: 5px;
  	border-top-right-radius: 5px;
  	border-bottom-right-radius: 5px;
  	border-bottom-left-radius:5px;
  	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}

.shadow 
{
	background: #000;
  	border-radius: 12px 12px 4px 4px;
  	box-shadow: 0 0 20px 10px #000;
  	height: 12px;
  	margin: 30px auto;
  	opacity: 0.2;
  	width: 270px;
}

/******************************
 *
 * CARDS
 *
 *******************************/

.card
{
        padding: 16px;
        position: relative;
        box-sizing: border-box;
        background: #BBF8AA;
        border-radius: 2px;
        margin: 16px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
/******************************
 *
 * AFFAIR SCREEN
 *
 *******************************/
.selectAffairText {
    color: #000000 
}


/*****************************
 *
 *
 * SELECTS
 */
/*
select {
	background: #47D512;
	color: #3F3F3F;

	/* Here's the code we need */
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	 -o-appearance: none;
		appearance: none;
}

*/

.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2; /* Fallback for IE 8 */
  background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown {
  z-index: 1;
}

.lt-ie9 .dropdown-select {
  z-index: -1;
}

.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}
